<nav>
    <div class="container">
        <div class="nav-inner">
            <a class="logo-small" title="Magento Commerce" href="/"><img alt="Magento Commerce" src="/images/logo-small.png"></a>
            <ul id="nav" class="hidden-xs">
                <li class="level0 parent drop-menu"><a href="/"><span>Home</span> </a></li>
                <li class="level0 parent drop-menu"><a href="/shop"><span>Shop</span> </a></li>
                <li class="level0 nav-5 level-top first">
                    <a href="/about" class="level-top"> <span>About</span> </a>
                </li>
                <li class="level0 nav-5 level-top first">
                    <a class="level-top" href="/contact"> <span>Contact</span> </a>
                </li>
                <li class="level0 nav-5 level-top first">
                    <a class="level-top" href="/delivery"> <span>Delivery</span> </a>
                </li>
                <li class="level0 nav-5 level-top parent"><a href="/list"><span>List product </span> </a></li>
                <li class="level0 parent drop-menu"><a href="/blog"><span>Blog</span> </a></li>
                <li class="level0 parent drop-menu"><a href="/admin"><span>Admin</span> </a></li>
                <li class="nav-custom-link level0 level-top parent"> <a class="level-top" href="#"><span>Custom</span></a>
                    <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
                        <div class="header-nav-dropdown-wrapper clearer">
                            <div class="grid12-5">
                                <div class="custom_img">
                                    <a href="#"><img src="/images/custom-img1.jpg" alt="custom img1"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img">
                                    <a href="#"><img src="/images/custom-img2.jpg" alt="custom img2"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img">
                                    <a href="#"><img src="/images/custom-img3.jpg" alt="custom img3"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img">
                                    <a href="#"><img src="/images/custom-img4.jpg" alt="custom img4"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>