<%- include('head.ejs'); %>
    <title>Add Categories</title>
    </head>

    <body>
        <!-- Left Panel -->
        <%- include('nav.ejs'); %>
            <!-- /Widgets -->
            <!--  Traffic  -->
            <div class="col-lg-14">
                <div class="card">
                    <div class="card-header">
                        <h2><strong class="card-title">Insert Categories</strong></h2>
                    </div>
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal row">
                            <input type="hidden" class="form-control" name="id" id="id" value="0">
                            <div class="col-lg-12">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="name" class=" form-control-label">Name</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="Name..." class="form-control"></div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm(0)" class="btn btn-primary mt-2 mr-3 ml-auto">Insert</button>
                            <!-- <input onclick="submitForm()" type="submit" value="Insert" class="btn btn-primary mt-2 mr-3 ml-auto"> -->
                        </form>
                    </div>

                </div>
            </div>
            <!-- Modal - Calendar - Add New Event -->
            <%- include('footer.ejs'); %>
                <script src="/js/categories.js"></script>
    </body>

    </html>