<%- include('head.ejs'); %>
    <title>Admin Dashboard</title>
    </head>

    <body>
        <!-- Left Panel -->
        <%- include('nav.ejs'); %>
            <!-- /Widgets -->
            <!--  Traffic  -->
            <div class="row">
                <div class="col-lg-12 height350">
                    <div class="card">
                        <div class="card-body">
                            <h2><strong>Admin Dashboard</strong></h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal - Calendar - Add New Event -->
            <%- include('footer.ejs'); %>
    </body>

    </html>