<%- include('head.ejs'); %>
    <title>Edit User</title>
    </head>

    <body>
        <!-- Left Panel -->
        <%- include('nav.ejs'); %>
            <!-- /Widgets -->
            <!--  Traffic  -->
            <div class="col-lg-14">
                <div class="card">
                    <div class="card-header">
                        <h2><strong class="card-title">Edit User</strong></h2>
                    </div>
                    <div class="card-body card-block" id="table-body1"></div>
                </div>
            </div>
            <!-- Modal - Calendar - Add New Event -->
            <%- include('footer.ejs'); %>
                <script src="/js/edit_user.js"></script>
    </body>

    </html>